
.secao__cards{

background-color: #556b2f;


 }

 .texto__centralizado{
    text-align: center;
    padding: 4%;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 


.card__img{
    display: flex;
    justify-content: space-evenly;
    padding:5%;
    
   

    
}

.agricultura__text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    padding: 5%;
    
    
}